table {
    width: 100%;
}
td {
    font-weight: 600;
}
h2 {
    margin: 0px;
    margin-bottom: 10px;
}
.contains-icon {
    height: 100px;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#footer {
    margin: 0px;
    width: 1502px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: 500px;
    left: 0px;
}

#endgame-stats {
    border-top: 1px solid black;
}
#player1-stats {
    display: inline-block;
    width: 50%;
}
#player2-stats {
    display: inline-block;
    width: 50%;
}

#main-menu {
    color: white;
    background-color: #00ee55;
    font-size: 20px;
    padding: 25px;
    border: 0px;
    border-radius: 5px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
#main-menu:hover {
    background-color: #22ff77;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Modal Styling... */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 1500px; /* Full width */
    height: 605px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 0px 0px 20px 20px;
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 85%;
    height: 90%;
    font-family: arial;
    font-size: 15px;
    text-align: center;
}
.modal-header {
      margin-top: 0px;
      font-size: 20px;
}