#character-bar {
    width: 870px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}
#income { 
    float: left;
    width: 304px;
    height: 88px;
    margin: 0px;
    padding-top: 30px;
    font-family: arial;
    font-size: 25px;
    background-color: #2bb14c;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid black;
}
#income:hover {
    background-color: #5dd36e;
    cursor: pointer;
}
#health {
    float: right;
    width: 304px;
    height: 88px;
    margin: 0px;
    padding-top: 30px;
    font-family: arial;
    font-size: 25px;
    background-color: #2bb14c;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid black;
}
#health:hover {
    background-color: #5dd36e;
    cursor: pointer;
}

.white {
    width: 868px;
    height: 98px;
    border: 1px solid black;
    background-color: #DDDDDD;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orangered;
}
.red {
    background-color: red;
}

.character {
    display: inline-block;
    margin-left: 10px;
}
.character:hover {
    cursor: pointer;
}
.first {
    margin-left: 0px;
}

.hidden {
    opacity: 0;
}

.price {
    z-index: 3;
    margin: 2px;
    position: absolute;
}
.black-unit {
    background-color: white;
}