<div id="income">
    Increase Income:<br/>
    ${{ incomePrice }}
</div>
<div id="character-bar" style="display: inline-block;">
    <!-- Dynamic Character icons go here -->
    <div class="character first"></div>
    <div class="character"></div>
    <div class="character"></div>
    <div class="character"></div>
    <div class="character"></div>
    <div class="character"></div>
    <div class="character"></div>
    <div class="character"></div>
</div>
<div id="health">
    Increase Castle Health:<br/>
    ${{ healthPrice }}
</div>