<div id="type-info-view">

</div>
<div id="footer">
    <div id="footer-button-container">
        <button id="back" [routerLink]="['']">Back to Main Menu</button>
    </div>
</div>

<!-- Instructions Modal -->
<div id="instruction-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1 class="modal-header">Type Effects:</h1>
        <p>In the game each unit is a member of a colored team, but will attack with a specific type of attack.</p>
        <p>A unit does not necessarily attack with the same type of damage as its team!</p>
        <p>Different teams are strong or weak against attacks of different types, so knowing these effects can be a great asset in battle!</p>
        <p>Some Attack types do bonus damage to towers as well, while other teams will gain a bonus to the HP of their castle at the beginning of the game!</p>
        <p>This page lists all the type effects in the game.</p>
        <h1 class="modal-header">Legend:</h1>
        <p>Colors on the left side of an arrow are attacking colors</p>
        <p>Colors on the right side of an arrow are defending colors</p>
        <p>A normal arrow denotes a type ADVANTAGE (enhanced damage)</p>
        <p>An X'd arrow denotes a type DISADVANTAGE (mitigated damage)</p>
    </div>
</div>