button {
    color: white;
    font-size: 20px;
    margin: 25px;
    padding: 25px;
    border: 0px;
    border-radius: 5px;
}

#type-info-view {
    width: 1500px;
    height: 500px;
    background-image: url("../../assets/img/background/typeeffects with background.png");
}
#footer {
    margin: 0px;
    width: 1500px;
    height: 120px;
    background-color: #0b912c;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#back {
    background-color: #ff2222;
}
#back:hover {
    background-color: #ff6622;
}
#footer-button-container {
    width: 290px;
    margin: auto;
}