<canvas id="background-canvas" width="1500" height="500"></canvas>
<div id="main-view">
    <h1>The Great Castle Defense Game!</h1>
    <h2>Choose Your Game Mode:</h2>
    <div id="main-button-container">
        <button routerLink='levelselect' id="sp">Singleplayer</button>
        <button routerLink='multiplayer' id="mp">Multiplayer</button>
    </div>
</div>
<div id="footer">
    <div id="footer-button-container">
        <button id="instructions">Instructions</button>
        <button routerLink='teaminfo' id="character-stats">Character Stats</button>
        <button routerLink='typeinfo' id="type-effects">Damage Type Info</button>
    </div>
</div>

<!-- Instructions Modal -->
<div id="instruction-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1 class="modal-header">Instructions:</h1>
        <p>This is a castle defense game, the aim of the game is to power up and purchase units to attack the enemy castle while keeping your own castle safe!</p>
        <br/>
        <p>Different units attack with different types of damage. Damage may be increased or decreased based on the team of the recipient of the damage!</p>
        <br/>
        <h1 class="modal-header">Singleplayer:</h1>
        <p>Choose your favorite team and battle against a variety of opponents in 8 different levels who will send units at you in a pre-defined pattern!</p>
        <p>Be careful though! The levels get difficult very quickly!</p>
        <br/>
        <h1 class="modal-header">Multiplayer:</h1>
        <p>Pit your best strategies against your friends in a 2-player battle!</p>
        <p>Create a new game and you will be assigned a random Game ID!</p>
        <p>Once you have your ID, your friend will be able to join your game by typing in the ID, or selecting it from the game browser!</p>
        <p>When the game is filled the battle begins!</p>
    </div>
</div>
<!--
<div id="login">
    <h2>Login: </h2>
    <div class="container" id="test">
        <label for="uname"><b>Username</b></label>
        <input type="text" id="username" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" id="login-button">Login</button>
    </div>
</div>
<div id="user-info">
    
</div>
-->